@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Raleway:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;

}

.info-partida{
    width: 1440px;
    height: 52px;
    background-color: rebeccapurple;
}
