@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Raleway:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #BEC6EA;
}

.info-partida{
    width: 1440px;
    height: 52px;
    background-color: #223485;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: white;
    display: flex;
    align-items: center;
}


.text-container{
    padding-left: 20px;
}

.play{

    margin-left: 49%;
}

input{
    width: 200px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    border-radius: 5px;
    padding-left: 10px;
}

.jugar{
    cursor: pointer;
    width: 80px;
    height: 35px;
    background-color: #BEC6EA;
    color: #06219F;
}

.title-container{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title{
    margin-top: 10px;
    width: 600px;   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
 
}

.tablero{
    
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card-area .card .face{
    cursor: pointer;
}

.card{

    position: relative;
    width: calc(60vh/4);
    height: calc(60vh/3);
    margin: 17px;
    transform-style:preserve-3d;
    transition: 1s;
}

.face{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;

}


.card .front{
    background: #FFD8AB;
    border: 7px solid #EC8108;
}

#cover{
    width: 60px;
}

.card .back{

    border: 7px solid #EC8108;
    transform: rotateY(180deg);
}

@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}



.fin-juego{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

button{
    width: 130px;
    height: 45px;
    background: #06219F;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    color: white;
    margin: 10px;
}

#back-cover{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}

#modal{
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: fit-content;
    max-width: 600px;
    border-radius: 7px;
    padding: auto;
}



.table-title{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 16px;
    padding: 15px;
}

.content{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    width: 80%;
    height: fit-content;
    text-align: center;
    border: 1px solid #223485;
}

th{
    background-color: #223485;
    color: white;
    padding: 5px;
}

td{
    border: 1px solid #223485;
    padding: 5px;
}



#cerrar-modal{
    
    margin-top: 20px;
    width: 70px;
    height: 30px ;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

